{% extends 'base.html.twig' %}

{% block title %}Hello IndicatorController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Mi Indicador</h1>

    <div>
        {{ form_start(form) }}
            {{ form_errors(form) }}
            {{ form_row(form.month) }}
            {{ form_row(form.year) }}
            {{ form_row(form.action) }}
            {{ form_row(form.submit, { 'label': 'Consultar' }) }}
        {{ form_end(form) }}
    </div>

    <div>
        {% if result is not null %}
            {% if not result.error %}
                <h2>Valores obtenidos para {{monthName}} de {{form.year.vars.value}}</h2>
                <ul>
                {% for value in result.values %}
                    <li><strong>{{loop.index}}:</strong> {{ value ? value : "Sin registro" }}</li>
                {% endfor %}
                </ul>
            {% else %}
                <h2><strong>Error:</strong> {{result.message}}</h2>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
